.button {
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--border);
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s linear;
  background: var(--bg);
  color: var(--text-button);

  &:hover {
    opacity: 0.85;
  }

  &.primary {
    background: var(--accent);
    border-color: var(--accent-bg);
    
    &:hover {
      opacity: 0.9;
      border-color: var(--accent-border);
    }
  }

  &.default {
    background: var(--bg);
    color: var(--text-h);
    border-color: var(--border);
    
    &:hover {
      background: var(--accent-bg);
      border-color: var(--accent-border);
    }
  }

  &.delete {
    background: var(--accent-bg);
    border-color: var(--accent-border);
    font-size: 0.875rem;
    width: auto;
    height: auto;
    
    &:hover {
      background: var(--red-bg);
      border-color: var(--red-border);
    }
  }
}