.todo-item {
  border: 1px solid var(--border);
  border-radius: 15px;
  margin: 10px 10px 0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 12px;
  background: var(--bg);
}

.todo-item--completed {
  
  .todo-item__title,
  .todo-item__status,
  .todo-item__date {
    opacity: 0.4;
  }
}

.todo-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  min-width: 0;
  flex: 1;
}
.todo-item__header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item__title {
  color: var(--text-h);
  display: block;
  font-weight: 600;
  line-height: 1.3;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  margin: 0;
}

.todo-item__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-top: auto;
}

.todo-item__status {
  color: var(--text);
  font-size: 0.9rem;
}

.todo-item__date {
  color: var(--text);
  font-size: 0.9rem;
  opacity: 0.8;
}

.todo-item__actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
}
.todo-item__edit-button{
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  padding: 2.33px 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}